
/.vscode
cuda
multithreading_perhaps
python-course_eu
/__pycache__
FI.csv
rs*
/why_wont_this_commit
hs_err*
*.csv
/__pycache__
*.pyc
*.png
res-*/
*/res-*/
fisher_analysis/res-*/
*/.vscode/
*/__pycache__/
*.mypy_cache/
